body {
  background-color: #25323f;
  color: #fffff4;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

.mog > a {
  color: white;
}

a:hover {
  color: #007bff;
}

.help-container {
  display: flex;
  min-height: 50vh;
  margin: 3%;
}

.help-container > p {
  text-indent: 5%;
}

header {
  background-color: #1d242f;
  color: white;
}

section {
  flex: 1;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  max-width: 50%;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: #1d242f;
}

.larger-text {
  font-size: 2em;
}

.button-container {
  margin-top: 20px;
}

.btn {
  margin-right: 10px;
}

.blog-post {
  color: #333;
}

.blog-post pre {
  color: white;
  background-color: #333;
  padding: 10px;
  overflow-x: auto;
}

.work-container {
  color: #fbf9f9;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 3%;
}

.blog-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.blog-cover-image {
  height: 200px;
  width: auto;
  margin-right: 20px;
}

.blog-content {
  flex: 1;
  margin-top: 3%;
}

@media (max-width: 768px) {
  header, footer {
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
  }
}

/* Add more styling as needed */
h1, h2, h3, pre, p, strong {
  margin-bottom: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
  color: white; /* Text color */
  padding: 20px; /* Padding around the caption */
   width: '100%';
   text-align: center;
   position: 'absolute';
}

.carousel-caption h3,
.carousel-caption p {
  margin: 0; /* Remove default margin */
}

/* Add background color to #root */
#root {
  background-color: #25323f;
}
