/* App.css */
body {
  background-color: #013364; /* Dark blue background color */
  color: #fffff4; /* White text color */
  font-family: 'Roboto', sans-serif; /* Use a Google Font or any other preferred font */
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

.logo {
  width: 100px; /* Adjust the width for a professional size */
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #007bff;
}
/* Add these styles to your existing CSS file or create a new one */

.help-container {
  display: flex;
}

section {
  flex: 1;
  margin-right: 20px; /* Adjust margin as needed */
}
