/* App.css */
body {
  background-color: #25323f; /* Dark blue background color */
  color: #fffff4; /* White text color */
  font-family: 'Roboto', sans-serif; /* Use a Google Font or any other preferred font */
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.logo {
  width: 100px; /* Adjust the width for a professional size */
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #007bff;
}
/* Add these styles to your existing CSS file or create a new one */

.help-container {
  display: flex;
  min-height: 50vh;
  margin: 3%;
}

.help-container>p{
  text-indent: 5%;
}




header {
  flex-grow: 1; /* Allow the header to take up the remaining vertical space */
}

section {
  flex: 1;
  margin: 0 auto; /* Center the section horizontally */
  max-width: 800px; /* Set a maximum width for better readability */
  padding: 20px; /* Add padding for spacing inside the section */
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; /* Ensure the content takes up at least the full height of the viewport */
  max-width: 50%; /* Set the maximum width to be half of the viewport width */
  margin: 0 auto; /* Center the content horizontally */
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh; /* Adjust as needed */
  background-color: #1d242f;
}
/* styles.css */

.larger-text {
  font-size: 2em;
}

.button-container {
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Additional styling if necessary */
.btn {
  margin-right: 10px; /* Adjust the right margin as needed */
}
